@font-face {
  font-family: 'iconfont';  /* project id 168050 */
  src: url('//at.alicdn.com/t/font_kz7oor9uhzs62yb9.eot');
  src: url('//at.alicdn.com/t/font_kz7oor9uhzs62yb9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_kz7oor9uhzs62yb9.woff') format('woff'),
  url('//at.alicdn.com/t/font_kz7oor9uhzs62yb9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_kz7oor9uhzs62yb9.svg#iconfont') format('svg');
}
