@font-face {
  font-family: 'iconfont';  /* project id 242685 */
  src: url('//at.alicdn.com/t/font_vbr7oj5yqxwjc3di.eot');
  src: url('//at.alicdn.com/t/font_vbr7oj5yqxwjc3di.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_vbr7oj5yqxwjc3di.woff') format('woff'),
  url('//at.alicdn.com/t/font_vbr7oj5yqxwjc3di.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_vbr7oj5yqxwjc3di.svg#iconfont') format('svg');
}
