@font-face {
  font-family: 'iconfont';  /* project id 242685 */
  src: url('//at.alicdn.com/t/font_wn8iwij03dk4vx6r.eot');
  src: url('//at.alicdn.com/t/font_wn8iwij03dk4vx6r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_wn8iwij03dk4vx6r.woff') format('woff'),
  url('//at.alicdn.com/t/font_wn8iwij03dk4vx6r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_wn8iwij03dk4vx6r.svg#iconfont') format('svg');
}
